//--------------------------------------------------------------
// COURSE
//--------------------------------------------------------------

.course {
	&__link {
		background-color: $color-white;
		border-radius: $global-radius;
		box-shadow: 0 1px 2px rgba(46, 49, 52, 0.4);
		display: block;
		height: 100%;
		transition: transform 0.3s ease-in-out;

		&:focus,
		&:hover {
			transform: scale(1.1);
		}

		&--no-shadow {
			box-shadow: none;
		}
	}


	&__image-container {
		position: relative;
	}

	&__image {
		border-radius: $global-radius $global-radius 0 0;
		display: block;
		object-fit: cover;
		width: 100%;
	}

	&__details-container {
		display: grid;
		gap: 8px;
		grid-template-columns: 1fr 28px;
		padding: 16px;
	}

	&__workout {
		background-color: rgba(0, 12, 40, 0.543025);
		border-radius: 0 $global-radius 0 0;
		bottom: 0;
		color: $color-white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 112px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
	}

	&__workout-text {
		font-size: rem-calc(10);
		margin-bottom: 8px;
		text-transform: uppercase;
	}

	&__workout-number {
		display: block;
		font-size: rem-calc(28);
	}

	&__instructor {
		border-radius: $global-radius;
		display: block;
	}

	&__name {
		font-size: rem-calc(16);
		font-weight: $font-weight-bold;
		line-height: 1.2;
		margin-bottom: 8px;
	}

	&__stats {
		color: $color-black;
		display: flex;
		font-size: rem-calc(10);
		font-weight: $font-weight-bold;
		margin-bottom: 12px;
	}

	&__stats-item {
		align-items: center;
		display: flex;

		&:not(:last-child) {
			margin-right: 9px;
		}
	}

	&__stats-icon {
		display: block;
		margin-right: 4px;
	}

	&__view-more {
		color: $color-primary;
		font-size: rem-calc(14);
		font-weight: $font-weight-bold;
		text-transform: uppercase;
	}
}
