//--------------------------------------------------------------
// SETTINGS
//--------------------------------------------------------------

//-----------------------------------------
// Global
//-----------------------------------------
$global-width: 1180px;
$global-padding: 20px;
$global-radius: 4px;
$global-spacing: 25px;

//-----------------------------------------
// Media Queries
//-----------------------------------------
$mq-mobile-medium: 375px;
$mq-mobile-large: 425px;
$mq-tablet: 768px;
$mq-laptop: 1024px;
$mq-global-width: $global-width;
$mq-laptop-large: 1440px;

//-----------------------------------------
// Fonts
//-----------------------------------------
$font-open-sans: 'Open Sans', sans-serif;

// Family
$font-family-body: $font-open-sans;
$font-family-heading: $font-open-sans;

// Size
$font-size-content: 21px;

// Weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

//-----------------------------------------
// Colors
//-----------------------------------------
// Neutrals
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #808080;

// Theme Colors
$color-science-blue: #0069D2;
$color-mine-shaft: #3F3F3F;
$color-midnight: #000C28;

// Theme Neutrals
$color-alabaster: #FAFAFA;
$color-dune: #2B2925;
$color-alto: #CECECE;
$color-gallery: #EAEAEA;
$color-iron: #D5D6D6;
$color-dusty-gray: #979797;
$color-athens-gray: #F4F5F7;

// Roles
$color-primary: $color-science-blue;
$color-secondary: $color-alabaster;
$color-tertiary: $color-mine-shaft;
$color-theme-black: $color-dune;
$color-theme-white: $color-alabaster;
$color-theme-gray: $color-mine-shaft;

// Alerts
$color-error: #EA595E;
$color-warning: #F0BD2B;
$color-success: #59EA9D;

// Social Media - https://www.lockedownseo.com/social-media-colors/
$color-facebook: #3B5998;
$color-twitter: #1DA1F2;
$color-youtube: #FF0000;
$color-instagram: #C32AA3;
